<div class="container">
    <nav class="logout-nav d-flex flex-row mb-3 justify-content-end">
        <a class="btn btn-light p-2 m-2" href="/profile">Profile</a>
        <a class="btn btn-light p-2 m-2" href="/graph/timeline">Timeline</a>
        <a class="btn btn-light p-2 m-2" href="/user/logout" id="logout">LOGOUT</a>
    </nav>
</div>