<nav class="logout-nav navbar navbar-expand-md">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myTogglerNav"
            aria-controls="#myTogglerNav" aria-label="Toggle Navigation"><i class="bi bi-list"></i></button>
        <div>
            <img src="/images/greenbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:100px;height:100px;">
            <a class="navbar-brand page-title" href="/profile">Budgie</a>
        </div>
        <section class="collapse navbar-collapse" id="myToggleNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-uppercase" data-toggle="tab" href="/profile">Profile</a>
                <a class="nav-item nav-link text-uppercase" href="/graph/timeline">Timeline</a>
                <a class="nav-item nav-link text-uppercase" href="/user/logout" id="logout">Logout</a>
            </div>
        </section>
    </div>
</nav>