<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/ted5bnl.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
    async="false"></script>
  {{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
</head>

<body>
  <header class="p-4">
    <div class="d-flex flex-row">
      <img src="/images/logo-image.jpeg" alt="Gold background textured image" class="logo">
      <h1 class="page-title">Budget Smuggler</h1>
    </div>
    {{#if logged_in}}
    <div class="container">
      <nav class="logout-nav d-flex flex-row mb-3 justify-content-end">
        <a class="btn btn-light p-2 m-2" href="/user/profile">Profile</a>
        <a class="btn btn-light p-2 m-2" href="/graphs">Graphs</a>
        <a class="btn btn-light p-2 m-2" href="">Nav item 3</a>
        <a class="btn btn-light p-2 m-2" href="/user/logout" id="logout">LOGOUT</a>
      </nav>
    </div>
    {{else}}
    <div>
      <nav class="login-signup-nav">
        <div class="login-signup">
          <a class="btn btn btn-light m-3" href="/user/login" id="login">LOGIN</a>
          <a class="btn btn-light m-3" href="/user/signup" id="signup">SIGNUP</a>
        </div>
      </nav>
    </div>
    {{/if}}
  </header>

  {{{ body }}}

  <footer>

  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>