{{!-- This template is for showing the user an empty form that will build a new transaction, the user object is not
available
as we
don't need to display any user data for this form. This template will need to import a script that gathers the form
fields and then
submits them in a request to "/transaction/create" as a POST request.


CREATE A TRANSACTION FORM - USER OBJ AVAILABLE {{user.email}} {{user.balance}} --}}
<header>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo center">NEW TRANSACTION</a>
        </div>
    </nav>
</header>

 <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

<main class="valign-wrapper">
    <div class="row">
        <form class="form transaction-form center-align" id="create-transaction-form">
            <div class="row">
                <div class="col s6">
                    <label for="transaction-name" class="col-form-label form-font">Name</label>
                    <input class="form-input form-control center-align" type="text" id="transaction-name">
                </div>
                <div class="col s6">
                    <label for="transaction-amount" class="col-form-label form-font">Amount</label>
                    <input class="form-input form-control center-align" type="text" id="transaction-amount">
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label for="transaction-duedate" class="col-form-label form-font">Due Date</label>
                    <input class="form-input form-control center-align" type="date" id="transaction-duedate">
                </div>

                <div class="col s6">
                    <label for="transaction-enddate" class="col-form-label form-font">End Date</label>
                    <input class="form-input form-control center-align" type="date" id="transaction-enddate">
                </div>
            </div>


            <div class="row">
                <p class="form-font padding-top">Type:</p>
                <label class="form-check-label center-align" for="income">
                    <input class="form-check-input center-align with-gap" type="radio" value="income"
                        name="transaction-type" id="income" checked="true">
                    <span>Income</span></label>

                <label class="form-check-label" for="expense">
                    <input class="form-check-input center-align with-gap" type="radio" value="expense"
                        name="transaction-type" id="expense">
                    <span>Expense</span></label>
            </div>

            <div class="divider"></div>
            <p class="form-font padding-top">Category:</p>

            <label class="form-check-label" for="cashflow">
                <input class="form-check-input center-align with-gap" type="radio" value="Cashflow"
                    name="transaction-category" id="cashflow" checked="true">
                <span>Cashflow</span></label>


            <label class="form-check-label" for="business">
                <input class="form-check-input center-align with-gap" type="radio" value="Business"
                    name="transaction-category" id="business">
                <span>Business</span></label>



            <label class="form-check-label" for="savings">
                <input class="form-check-input center-align with-gap" type="radio" value="Savings"
                    name="transaction-category" id="savings">
                <span>Savings</span></label>


            <label class="form-check-label" for="mortgage">
                <input class="form-check-input center-align with-gap" type="radio" value="Mortgage"
                    name="transaction-category" id="mortgage">
                <span>Mortgage</span></label>


            <label class="form-check-label" for="crypto">
                <input class="form-check-input center-align with-gap" type="radio" value="Crypto"
                    name="transaction-category" id="crypto">
                <span>Crypto</span></label>

            <div class="divider"></div>
            <p class="form-font padding-top">How often?</p>

            <label class="form-check-label" for="once">
                <input class="form-check-input with-gap" type="radio" value="once" name="transaction-frequency"
                    id="once" checked="true">
                <span>Once</span></label>

            <label class="form-check-label" for="weekly">
                <input class="form-check-input with-gap" type="radio" value="weekly" name="transaction-frequency"
                    id="weekly">
                <span class="title">Weekly</span></label>

            <label class="form-check-label" for="fortnightly">
                <input class="form-check-input with-gap" type="radio" value="fortnightly" name="transaction-frequency"
                    id="fortnightly">
                <span>Fortnightly</span></label>

            <label class="form-check-label" for="monthly">
                <input class="form-check-input with-gap" type="radio" value="monthly" name="transaction-frequency"
                    id="monthly">
                <span>Monthly</span></label>

            <label class="form-check-label" for="annually">
                <input class="form-check-input with-gap" type="radio" value="annually" name="transaction-frequency"
                    id="annually">
                <span>Annually</span></label>
            <div class="divider"></div>
            <div class="row padding-top">
                <button class="btn btn-small mx-3 w-50 create-transaction-button" type="submit">Create</button>
                <button class="btn btn-small mx-3 w-50" type="cancel" onclick="window.history.back()">Cancel</button>
            </div>
        </form>
    </div>
</main>

<script src="/js/createtransaction.js"></script>