{{!-- this template will render the visuals of the user transactions. It will use partial templates for the timeline and the category visuals which appear in a vertical scroll list. It has access to {{timelineObj}}, {{categoryObj}}, {{userObj}} for dressing and rendering data. It also needs redirect buttons back to profile and logout as this page is only accessible for a logged in user. --}}


THIS TEMPLATE IS UNDER WILD EXPERIMENTATION, DON'T EXPECT IT TO RELIABLY DO ANYTHING

<div class="container chart-container" style="position: relative; height:40vh; width:60vw">
    <canvas id="chartTimeline"></canvas>
</div>


<script src="/js/graphs.js"></script>