<h1> Homepage </h1>

{{#if logged_in}}
    <nav>
        <a href="/user/logout" id="logout">LOGOUT</a>
    </nav>
{{else}}
    <nav>
    <a class="btn" href="/user/login" id="login">LOGIN</a>
    <a class="btn" href="/user/signup" id="signup">SIGNUP</a>
    </nav>
{{/if}}