<div class="landing-logo-headline d-flex flex-row justify-content-end m-4">
    <img src="/images/bgrd-img2Artboard 44.png" alt="Illustration of person,phone, credit card, money and money box"
        class="landing-logo">
    <p class="headline m-4">Your <br> favourite <br>budgeting <br>app</p>
</div>