<header>
    <nav role="navigation">
      <div class="nav-wrapper teal">
        <img class="budgie-icon" src="/images/seethroughbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it">
        <a id="logo-container" href="#" class="brand-logo right">YOUR BUDGETING APP</a>
        {{!-- <a id="logo-container" href="#" class="brand-logo left">BUDGIE</a> --}}

      </div>
    </nav>
</header>

<main>
    <div class="center-align teal-text">
        <h1>BUDGIE</h1>
    </div>
    <br>
    <div class="container valign-wrapper">
        <div class="container center-align">
            <div class="row">
                <a class="btn-large teal white-text" href="/user/login">LOGIN</a>
                <a class="btn-large teal white-text" href="/user/signup">SIGNUP</a>
            </div>
            <img src="/images/bgrd-img2Artboard 44.png" alt="Illustration of person,phone, credit card, money and money box" class="landing-logo" style="width:75vw; max-width:800px; max-height: 500px">
        </div>
    </div>
</main>