<div>

    {{#if logged_in}}
    <nav>
        <a href="/user/logout" id="logout">LOGOUT</a>
    </nav>
    {{else}}
    <nav class="login-signup-nav">
        <div class="login-signup">
            <a class="btn btn btn-light m-3" href="/user/login" id="login">LOGIN</a>
            <a class="btn btn-light m-3" href="/user/signup" id="signup">SIGNUP</a>
        </div>
    </nav>
    {{/if}}
</div>