<div>
    <nav class="login-signup-nav">
        <div class="login-signup">
            <a class="btn btn btn-light m-3" href="/user/login" id="login">LOGIN</a>
            <a class="btn btn-light m-3" href="/user/signup" id="signup">SIGNUP</a>
        </div>
    </nav>
</div>

<div class="landing-logo-headline d-flex flex-row justify-content-end m-4">
    <img src="/images/bgrd-img2Artboard 44.png" alt="Illustration of person,phone, credit card, money and money box"
        class="landing-logo">
    <p class="headline m-4">Your <br> favourite <br>budgeting <br>app</p>
</div>