<nav class="login-signup-nav navbar navbar-expand-md navbar-light">
    <div class="login-signup container-fluid">
        <div>
            <img src="/images/greenbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:100px;height:100px;">
            <a class="navbar-brand page-title" href="/profile">Budgie</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link text-uppercase" href="/user/login" id="login">Login</a>
            <a class="nav-item nav-link text-uppercase" href="/user/signup" id="signup">Signup</a>
        </div>
    </div>
</nav>

<div class="landing-logo-headline">
    <img src="/images/bgrd-img2Artboard 44.png" alt="Illustration of person,phone, credit card, money and money box"
        class="landing-logo">
    <p class="headline">Your <br> favourite <br>budgeting <br>app</p>
</div>