{{!-- This template simply renders the buttons to logout if the user is logged in, otherwise it shows buttons that link to login and signup --}}

<h1> Homepage </h1>

{{#if logged_in}}
    <nav>
        <a href="/user/logout" id="logout">LOGOUT</a>
    </nav>
{{else}}
    <nav>
    <a class="btn" href="/user/login" id="login">LOGIN</a>
    <a class="btn" href="/user/signup" id="signup">SIGNUP</a>
    </nav>
{{/if}}