{{!-- This template renders a form to confirm the user wants to log out. It will have two buttons, a cancel button that will redirect back one page, and a logout button that will submit a post request to "/user/logout" and handle server response. The server will redirect the user to the login page, this will not be done in the client side js. --}}

<header>
  <nav>
    <div class="nav-wrapper">
      <p>Are you sure you want to log out?</p>
    </div>
  </nav>
</header>

<main class="valign-wrapper">
  <div class="container center-align">
    <div class="col-md-6">
        <h2>Logout</h2>

        <a id="logout" class="btn btn-primary red">LOGOUT</a>

        <a href="#" onclick="window.history.back()" class="btn btn-primary">Na, stay</a>
    </div>
  </div>

  <script src="/js/logout.js"></script>
</main>