
<nav>
    <div class="nav-wrapper teal">
      <img src="/images/seethroughbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:60px;height:60px;">
      <a href="#" class="brand-logo center">Signup</a>
    </div>
</nav>

<main class="valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form signup-form row">
          <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="row">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="row center-align">
            <button class="btn red" type="submit">signup</button>
            <a href="/" class="btn grey">cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

  <script src="/js/signup.js"></script>

{{!-- <main class="container">
    <section class="card signup-card row g-3 align-items-center justify-content-center m-4">
        <div class="card-body d-flex flex-column p-2 w-75">
            <div>
                <h2 class="card-title text-center">Signup</h2>
                <form class="form signup-form">
            </div>
            <div class="form-group p-3">
                <label for="name-signup" class="col-form-label">Username:</label>
                <input class="form-input form-control" type="text" id="name-signup" />
            </div>
            <div class="form-group p-3">
                <label for="email-signup" class="col-form-label">Email:</label>
                <input class="form-input form-control" type="text" id="email-signup" />
            </div>
            <div class="form-group p-3">
                <label for="password-signup" class="col-form-label">Password:</label>
                <input class="form-input form-control" type="password" id="password-signup" />
            </div>
            <div class="signup-buttons form-group p-4 m-4 d-flex justify-content-evenly">
                <button class="btn btn-light mx-3 w-50" type="submit">Signup</button>
                <a class="btn btn-light mx-3 w-50" href="/" type="cancel">Cancel</a>
            </div>
            </form>
        </div>
    </section>
</main>

<script src="/js/signup.js"></script> --}}