<h1>Update Balance</h1>
<form>
    <div class="form-group">
        <label for="balance">Current Balance</label>
        <input type="text" class="form-control" id="current-balance" aria-describedby="emailHelp" placeholder="Enter current balance">
    </div>
    <div>
        <button id="update-btn" type="submit" class="btn btn-primary">Update</button>
        <button id="cancel-btn" type="submit" class="btn-primary">Cancel</button>
    </div>
</form>

<script src="/js/update-balance.js"></script>

