/* ---------- MAIN HANDLEBARS STYLES ---------- */
:root {
    --darkgrey: #3E4251;
    --mediumgreen: #6C9D9A;
    --lightgreen: #BEE3DB;
    --white: #FAF9F9; 
    --apricot: #FFD6BA;
    --deletered: #c60000;
}

/*
blue-grey darken-4
teal darken-2
teal lighten-3
white
deep-orange lighten-3
red darken-3
*/

body {
    background: #FAF9F9 url('../images/background.jpeg') no-repeat center;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a.page-title {
    color: black;
    font-family: john-doe, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding: 15px 30px;
    text-shadow: 2px 2px 8px goldenrod;
}

a.page-title:hover {
    color: black;
    font-family: john-doe, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding: 15px 30px;
    text-shadow: 2px 2px 8px var(--mediumgreen);
}

.margin {
    margin: 20px;
}

label.form-check-label {
    padding: 20px;
}

label span.title {
    font-size: 12em;
}

/* ---------- NAVIGATION STYLES --------- */
a.nav-link.nav-item {
    color: black;
    text-decoration: none;
    font-family: condor, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 15px 30px;
    font-size: 25px;
    text-shadow: 2px 2px 8px var(--apricot);
}

a.nav-link.nav-item:hover {
    text-shadow: 2px 2px 24px var(--mediumgreen);
}

.padding-top {
    padding-top: 25px;
}

.valign-wrapper {
    padding-top: 40px !important;
}

/* ---------- LANDING PAGE HANDLEBARS STYLES ---------- */
.headline {
    color: black;
    font-family: hero-new-hairline,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4em;
}

/* ---------- LOGIN HANDLEBARS STYLES ---------- */
.login-buttons .btn {
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;   
}

.login-buttons .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}

.card-title {
    font-family: hero-new-hairline,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}

.login-card {
    max-width: 100%;
    max-height: 100%;
}

/* ---------- SIGNUP HANDLEBARS ---------- */
.signup-buttons .btn {
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;   
}

.signup-buttons .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}

.signup-card {
    max-width: 90%;
    max-height: 100%;
}


/* ---------- PROFILE HANDLEBARS ---------- */
.profile-card {
    max-width: 90%;
    max-height: 100%;
}

.profile-card .card-header {
    color: var(--white);
    background-color: var(--mediumgreen);
}

.current-balance-title {
    font-family: monotype-modern-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.update-link {
    font-family: hero-new-hairline,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.update-link:hover {
    text-decoration: none;
    color: orange;
}

.new-transaction-link {
    font-family: hero-new-hairline,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.new-transaction-link:hover {
    text-decoration: none;
    color: orange;
}

.no-transactions {
    padding: 20px;
    font-weight: normal;
    font-style: italic;
    font-size: 1.1em;
    color: lightslategray;
}

/* ---------- CREATE TRANASACTIONS HANDLEBARS ---------- */
.form-font {
    color: darkslategrey;
    font-family: turnip, serif;
    font-weight: 600;
    font-style: normal;
}

.current.balance.form-font {
        color: darkslategrey;
        font-family: turnip, serif;
        font-weight: 600;
        font-style: normal;
}

.transaction-buttons .btn {
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;   
}

.transaction-buttons .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}


/* partials - transaction-card */
.profile-buttons a {
    color: black;
}

.add-link:hover {
    color: orange;
}

.delete-link:hover {
    color: #c60000;
}


/* Timeline graph */
.chart-container{
    /* background-color: white; */
}