/* ---------- MAIN HANDLEBARS STYLES ---------- */
:root {
    --darkgrey: #3E4251;
    --mediumgreen: #6C9D9A;
    --lightgreen: #BEE3DB;
    --white: #FAF9F9; 
    --apricot: #FFD6BA;
    --deletered: #c60000;
}

img.logo {
    width: 160px;
    height: 100px;
}

body {
    background: #FAF9F9 url('../images/background.jpeg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 900px;
    position: relative;
}

nav {
    margin: 0px;
}

.page-title {
    color: black;
    font-family: john-doe, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.6em;
    padding: 15px 30px;
    text-shadow: 2px 2px 8px goldenrod;
}

.logout-nav {
    position: relative;
}

.logout-nav .btn {
    position: relative;
    top: -100px;
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;
}

.logout-nav .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}

.login-signup-nav {
    position: relative;
}

.login-signup-nav .btn {
    position: relative;
    top: -100px;
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;
}

.login-signup-nav .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}



/* ---------- LANDING PAGE HANDLEBARS STYLES ---------- */
.landing-logo-headline {
    max-width: 1400px;
}

.headline {
    color: black;
    font-family: hero-new-hairline,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4em;
}

img.landing-logo {
    width: 570px;
    height: 450px;
}

.login-signup-nav {
    position: relative;
}

.login-signup {
    position: absolute;
    right: 0px;
}

.login-signup > a.btn {
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;
}

.login-signup > a.btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}

/* ---------- LOGIN HANDLEBARS STYLES ---------- */
.login-buttons .btn {
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;   
}

.login-buttons .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}

.card-title {
    font-family: hero-new-hairline,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}

.login-card {
    max-width: 100%;
    max-height: 100%;
}

/* ---------- SIGNUP HANDLEBARS ---------- */
.signup-buttons .btn {
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 8px goldenrod;   
}

.signup-buttons .btn:hover {
    color: white;
    background-color: var(--mediumgreen);
    box-shadow: 2px 2px 8px goldenrod;
}

.signup-card {
    max-width: 90%;
    max-height: 100%;
}


/* ---------- PROFILE HANDLEBARS ---------- */
.profile-card {
    max-width: 90%;
    max-height: 100%;
}

.profile-card .card-header {
    color: var(--white);
    background-color: var(--mediumgreen);
}

/* partials - transaction-card */
.profile-buttons a {
    color: black;
}

.add-link:hover {
    color: var(--mediumgreen);
}

.delete-link:hover {
    color: #c60000;
}

